<!-- Links -->
	<section>
		<ul class="links">
			<li>
				<a href="/index.html">
					<h3>Home</h3>
					<p>The homepage with my Blog</p>
				</a>
			</li>
			<li>
				<a href='/gallery.html'>
					<h3>Gallery</h3>
					<p>All the pretty pictures I have taken so far</p>
				</a>
			</li>
			<li>
				<a href="/about.html">
					<h3>About</h3>
					<p>Wait, so who is this guy? Find out here!</p>
				</a>
			</li>
			<li>
				<a href="/about.html#mail">
					<h3>Mailing list</h3>
					<p>Sign up for the Email list to stay up to date!</p>
				</a>
			</li>
		</ul>
	</section>
<!-- Search -->
	<!--<section>
		<form class="search" method="get" action="#">
			<input type="text" name="query" placeholder="Search" />
		</form>
	</section>--!>

<!-- Actions -->
	<!--<section>
		<ul class="actions vertical">
			<li><a href="#" class="button big fit">Log In</a></li>
		</ul>
	</section>-->