

<!-- Intro -->
<section id="intro">
	<a href="#" class="logo"><img src="images/Luuk.png" alt="" /></a>
	<header>
		<h2>Luuk's Stellenbosch Experience</h2>
		<p>A simple blog about my internship in Stellenbosch, doubling as an excuse to learn some webdesign</p>
	</header>
</section>

<!-- About -->
<section class="blurb">
	<h2>About</h2>
	<p>So what is all this about anyway? I guess I try to explain that below.</p>
	<ul class="actions">
		<li><a href='about.html' class="button">Learn More</a></li>
	</ul>
</section>

<!-- Begin MailChimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div class="blurb form">
	<h2>Mailing List</h2>
	<p>If you fill in your e-mail adres below, you will automagically receive an e-mail whenever I update the blog. Should you be interested</p>
	<form action="https://blog.us17.list-manage.com/subscribe/post?u=e0ddb470c159143e115d173c8&amp;id=4f58cf9cc5" method="post" target="_blank" novalidate>
    	<div id="row uniform">
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e0ddb470c159143e115d173c8_4f58cf9cc5" tabindex="-1" value=""></div>
    		<div class="actions"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    	</div>
	</form>
</div>

<!--End mc_embed_signup-->

<!-- Footer -->
<section id="footer"></section>

					